<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>{{ page_title }}</title>
    
    <!-- Fav Icon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    
     <!-- THIS IS MY CUSTOM CSS -->
     {{ 'style.css' | asset_url | stylesheet_tag }}
     {{ 'font-awesome-all.css' | asset_url | stylesheet_tag }}
     {{ 'flaticon.css' | asset_url | stylesheet_tag }}
     {{ 'owl.css' | asset_url | stylesheet_tag }}
     {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
     {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
     {{ 'animate.css' | asset_url | stylesheet_tag }}
     {{ 'responsive.css' | asset_url | stylesheet_tag }}
  
     <!-- END NEW CODE  -->
    
  
    {{ content_for_header }}
    </head>
    
    
    <!-- page wrapper -->
    <body class="boxed_wrapper">
    
  
    
        {% section 'header' %}
        {% section 'banner' %}
        {% section 'how' %}

    
		
    
    

    
    

    
    
        <!-- feature-style-13 -->
        <section class="feature-style-13">
            <div class="anim-icons">
                <div class="icon icon-1"></div>
                <div class="icon icon-2"></div>
            </div>
            <div class="container">
                <div class="inner-box">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                            <div id="content_block_38">
                                <div class="content-box wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="sec-title">
                                        <h2>the most proficient method to soar your deals.</h2>
                                        <p>Faff about only a quid blower I don’t want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                                    </div>
                                    <div class="lower-content">
                                        <div class="single-item">
                                            <div class="icon-box"><i class="flaticon-growth"></i></div>
                                            <h3><a href="#">Detailing and Analysis</a></h3>
                                            <div class="text">Naff are you taking the piss say blow off faff about wellies richard.</div>
                                        </div>
                                        <div class="single-item">
                                            <div class="icon-box"><i class="flaticon-art-and-design"></i></div>
                                            <h3><a href="#">Specialized SEO Audit</a></h3>
                                            <div class="text">Naff are you taking the piss say blow off faff about wellies richard.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                            <div id="image_block_36">
                                <div class="image-box wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(images/icons/pattern-23.png);"></div>
                                    <figure class="image clearfix js-tilt"><img loading="lazy" src="{{ 'illustration-31.png' | asset_url }}" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-box">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                            <div id="image_block_37">
                                <div class="image-box wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(images/icons/pattern-24.png);"></div>
                                    <figure class="image clearfix js-tilt"><img loading="lazy" src="{{ 'illustration-32.png' | asset_url }}" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                            <div id="content_block_38">
                                <div class="content-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="sec-title">
                                        <h2>Let start now on Time Your Digital Marketing Business</h2>
                                        <p>Faff about only a quid blower I don’t want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                                    </div>
                                    <div class="lower-content">
                                        <div class="single-item">
                                            <div class="icon-box"><i class="flaticon-layers"></i></div>
                                            <h3><a href="#">Computerized Marketing</a></h3>
                                            <div class="text">Naff are you taking the piss say blow off faff about wellies richard.</div>
                                        </div>
                                        <div class="single-item">
                                            <div class="icon-box"><i class="flaticon-search-2"></i></div>
                                            <h3><a href="#">Search Engine Optimization</a></h3>
                                            <div class="text">Naff are you taking the piss say blow off faff about wellies richard.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature-style-13 end -->
    
    
        <!-- case-studies -->
        <section class="case-studies"> 
            <div class="outer-container">
                <div class="sec-title center">
                    <h2>Our Case Studies</h2>
                    <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br />Why gormless, pear shaped.!</p>
                </div>
                <div class="four-item-carousel-2 owl-carousel owl-theme">
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-1.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Digital Purchas</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-2.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Digital Marketing</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-3.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Web Development</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-4.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Advertising</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-1.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Digital Purchas</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-2.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Digital Marketing</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-3.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Web Development</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-4.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Advertising</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-1.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Digital Purchas</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-2.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Digital Marketing</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-3.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Web Development</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                    <div class="case-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img loading="lazy" src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                                <div class="box">
                                    <a href="images/resource/case-4.png" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h2><a href="#">Online Advertising</a></h2>
                                <div class="text">Branding, Print</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- case-studies end -->
    
    
        <!-- counter-style-three -->
        <section class="counter-style-three">
            <div class="bg-layer" style="background-image: url(images/icons/map-shap-5.png);"></div>
            <div class="anim-icons">
                <div class="icon icon-1 rotate-me"><img loading="lazy" src="{{'background.jpg' | asset_url }}anim-icon-6.png" alt=""></div>
                <div class="icon icon-2"><img loading="lazy" src="{{'background.jpg' | asset_url }}anim-icon-4.png" alt=""></div>
                <div class="icon icon-3 rotate-me"><img loading="lazy" src="{{'background.jpg' | asset_url }}anim-icon-5.png" alt=""></div>
            </div>
            <div class="container">
                <div class="sec-title center">
                    <h2>Some Funfucts Shear</h2>
                    <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br />Why gormless, pear shaped.!</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                        <div class="inner-box wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="layer-bg" style="background-image: url(images/icons/pattern-25.png);"></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="693">0</span>
                            </div>
                            <div class="text">Happy Clients</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                        <div class="inner-box wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="layer-bg" style="background-image: url(images/icons/pattern-26.png);"></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="453">0</span>
                            </div>
                            <div class="text">Trusted Users</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                        <div class="inner-box wow zoomIn animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="layer-bg" style="background-image: url(images/icons/pattern-27.png);"></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="276">0</span>
                            </div>
                            <div class="text">Our Projects</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                        <div class="inner-box wow zoomIn animated" data-wow-delay="900ms" data-wow-duration="1500ms">
                            <div class="layer-bg" style="background-image: url(images/icons/pattern-28.png);"></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="93">0</span>
                            </div>
                            <div class="text">Our Awards</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- counter-style-three end -->
    
    
        <!-- testimonial-style-12 -->
        <section class="testimonial-style-12">
            <div class="image-layer" style="background-image: url(images/icons/testimonial-bg-5.png);"></div>
            <div class="container">
                <div class="sec-title center">
                    <h2>What client’s are saying<br />about SaasWeb</h2>
                </div>
                <div class="three-column-carousel owl-carousel owl-theme">
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-9.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-10.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Liona Moresa</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-13.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-9.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-10.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Liona Moresa</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-13.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-9.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-10.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Liona Moresa</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <div class="author-info">
                                <figure class="image-box"><img loading="lazy" src="{{ 'testimonial-13.png' | asset_url }}" alt=""></figure>
                                <h5 class="name">Lurch Schpellchek</h5>
                                <span class="designation">Manager</span>
                            </div>
                            <div class="text">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David.</div>
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-style-12 end -->
    
    
        <!-- pricing-style-four -->
        <section class="pricing-style-four home-15">
            <div class="container">
                <div class="sec-title center"><h2>No hidden charge choose<br />your pricing plan</h2></div>
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 feature-column">
                        <div class="feature-inner">
                            <h2>Unlimited Campaigns</h2>
                            <ul class="list clearfix">
                                <li>Basic Donor Data</li>
                                <li>Team Fundraising</li>
                                <li>Customizable Emails</li>
                                <li>Complex Programs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 pricing-column">
                        <div class="pricing-inner clearfix">
                            <div class="pricing-table">
                                <div class="table-header">
                                    <h3 class="title">Start</h3>
                                    <h1 class="price"><span>$</span>200</h1>
                                    <div class="text">Per Month</div>
                                </div>
                                <div class="table-content">
                                    <ul class="clearfix">
                                        <li><i class="fas fa-times"></i></li>
                                        <li><i class="fas fa-times"></i></li>
                                        <li><i class="fas fa-times"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                    </ul>
                                </div>
                                <div class="table-footer"><a href="#">Choose Plan</a></div>
                            </div>
                            <div class="pricing-table">
                                <div class="table-header">
                                    <h3 class="title">PRO</h3>
                                    <h1 class="price"><span>$</span>320</h1>
                                    <div class="text">Per Month</div>
                                </div>
                                <div class="table-content">
                                    <ul class="clearfix">
                                        <li><i class="fas fa-times"></i></li>
                                        <li><i class="fas fa-times"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                    </ul>
                                </div>
                                <div class="table-footer"><a href="#">Choose Plan</a></div>
                            </div>
                            <div class="pricing-table">
                                <div class="table-header">
                                    <h3 class="title">Premium</h3>
                                    <h1 class="price"><span>$</span>450</h1>
                                    <div class="text">Per Month</div>
                                </div>
                                <div class="table-content">
                                    <ul class="clearfix">
                                        <li><i class="fas fa-check"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                        <li><i class="fas fa-check"></i></li>
                                    </ul>
                                </div>
                                <div class="table-footer"><a href="#">Choose Plan</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-style-four end -->
    
    
        <!-- check-website -->
        <section class="check-website">
            <div class="vactor-bg">
                <div class="vactor-bg-1 wow slideInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/icons/vactor-9.png);"></div>
                <div class="vactor-bg-2 wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/icons/vactor-10.png);"></div>
            </div>
            <div class="anim-icons">
                <div class="icon icon-1"><img loading="lazy" src="{{'background.jpg' | asset_url }}shap-16.png" alt=""></div>
            </div>
            <div class="container">
                <div class="inner-container">
                    <div class="sec-title center">
                        <h2>Check your Website’s SEO!</h2>
                    </div>
                    <form action="#" method="post" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" name="web_url" placeholder="Enter URL" required="">
                            <button type="submit">Check</button>
                        </div>
                    </form>
                    <div class="text">please check our <a href="#">Privacy Policy</a><br />to find out how we manage and protect your date</div>
                </div>
            </div>
        </section>
        <!-- check-website end -->
    
    
        <!-- clients-section -->
        <section class="clients-section home-15 centred">
            <div class="container">
                <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-1.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-2.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-3.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-4.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-1.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-2.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-3.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-4.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-1.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-2.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-3.png' | asset_url }}" alt=""></a></figure>
                    <figure class="image-box"><a href="#"><img loading="lazy" src="{{ 'client-4.png' | asset_url }}" alt=""></a></figure>
                </div>
            </div>
        </section>
        <!-- clients-section end -->
    
    
        <!-- free-estimate -->
        <section class="free-estimate">
            <div class="image-layer" style="background-image: url(images/icons/estimate-bg.png);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="inner-box clearfix">
                            <div class="text pull-left"><h2>Ready to get started?<br />It's fast, free and very easy!</h2></div>
                            <div class="btn-box pull-right"><a href="#" class="theme-btn-two">Get Free Estimate</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- free-estimate end -->
    
    
        {% section 'footer' %}
    
    
    
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>
    
    
    <!-- jequery plugins -->
  
    {{ 'jquery.js' | asset_url | script_tag  }}
    {{ 'popper.min.js' | asset_url | script_tag  }}
    {{ 'bootstrap.min.js' | asset_url | script_tag }}
    {{ 'owl.js' | asset_url | script_tag }}
    {{ 'validation.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox.js' | asset_url | script_tag }}
    {{ 'appear.js' | asset_url | script_tag }}
    {{ 'circle-progress.js' | asset_url | script_tag }}
    {{ 'jquery.countTo.js' | asset_url | script_tag }}
    {{ 'scrollbar.js' | asset_url | script_tag }}
    {{ 'jquery.paroller.min.js' | asset_url | script_tag }}
    {{ 'tilt.jquery.js' | asset_url | script_tag }}
  
    
    <!-- main-js -->
    <script src="js/script.js"></script>
    
    </body><!-- End of .page_wrapper -->
    </html>
    