<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>{{ page_title }}</title>
    
    <!-- Fav Icon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    
     <!-- THIS IS MY CUSTOM CSS -->
     {{ 'style.css' | asset_url | stylesheet_tag }}
     {{ 'font-awesome-all.css' | asset_url | stylesheet_tag }}
     {{ 'flaticon.css' | asset_url | stylesheet_tag }}
     {{ 'owl.css' | asset_url | stylesheet_tag }}
     {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
     {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
     {{ 'animate.css' | asset_url | stylesheet_tag }}
     {{ 'responsive.css' | asset_url | stylesheet_tag }}
  
     <!-- END NEW CODE  -->
    
  
    {{ content_for_header }}
    </head>
    
    
    <!-- page wrapper -->
    <body class="boxed_wrapper">
    
  
    
        {% section 'header' %}
   
        
        {{content_for_layout}}

        {% section 'banner' %}
        {% section 'how' %}
        {% section 'casestudy' %}

    

    
    
        {% section 'footer' %}
    
    
    
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>
    
    
    <!-- jequery plugins -->
  
    {{ 'jquery.js' | asset_url | script_tag  }}
    {{ 'popper.min.js' | asset_url | script_tag  }}
    {{ 'bootstrap.min.js' | asset_url | script_tag }}
    {{ 'owl.js' | asset_url | script_tag }}
    {{ 'validation.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox.js' | asset_url | script_tag }}
    {{ 'appear.js' | asset_url | script_tag }}
    {{ 'circle-progress.js' | asset_url | script_tag }}
    {{ 'jquery.countTo.js' | asset_url | script_tag }}
    {{ 'scrollbar.js' | asset_url | script_tag }}
    {{ 'jquery.paroller.min.js' | asset_url | script_tag }}
    {{ 'tilt.jquery.js' | asset_url | script_tag }}
    {{ 'script.js' | asset_url | script_tag }} 
    
    
    </body><!-- End of .page_wrapper -->
    </html>
    