      <!-- case-studies -->
      <section class="case-studies"> 
          <div class="outer-container">
            
              <div class="sec-title center">
                  <h2>{{ section.settings.title }}</h2>
                  <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br />Why gormless, pear shaped.!</p>
              </div>
              <div class="">
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-1.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Digital Purchas</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-2.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Digital Marketing</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-3.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Web Development</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-4.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Advertising</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-1.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Digital Purchas</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-2.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Digital Marketing</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-3.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Web Development</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-4.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Advertising</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-1.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-1.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Digital Purchas</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-2.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-2.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Digital Marketing</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-3.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-3.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Web Development</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
                  <div class=" ">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="{{ 'case-4.png' | asset_url }}" alt=""></figure>
                              <div class="box">
                                  <a href="{{ 'case-4.png' | asset_url }}" class="lightbox-image" data-fancybox="gallery"><i class="fas fa-search"></i></a>
                                  <a href="#"><i class="fas fa-link"></i></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h2><a href="#">Online Advertising</a></h2>
                              <div class="text">Branding, Print</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- case-studies end -->
      {% schema %}
      {
          "name": "casestudies",
          "class": "hcase-section",
          "settings": [

              {
                  "type": "text",
                  "id": "title",
                  "default": "Default Case Study Section Title",
                  "label": "Case study Section Title"
              }
          ],
          "presets": [
              {
                  "category": "Case Study",
                  "name":"Case Study"
              }
          ]
      }
      {% endschema %} 